.formulaire-container .container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.formulaire-container h1 {
  text-align: center;
}

.formulaire-container label {
  display: block;
  margin-bottom: 5px;
}

.formulaire-container input[type="text"],
.formulaire-container input[type="email"],
.formulaire-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulaire-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #27AE60;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formulaire-container button[type="submit"]:hover {
  background-color: red;
}
